---
import { themeConfig } from '~/.config'
import { getPathFromCategory } from '~/utils'
import { joinUrl } from '~/utils/tools'

interface Props {
  category: string
}

const { category } = Astro.props

function getCategoryUrl(category: string) {
  return joinUrl(`/categories/${getPathFromCategory(category, themeConfig.site.categoryMap)}`)
}
---

<a href={getCategoryUrl(category)}>
  # {category}
</a>
